- load add_class
- load tooltips


.form-group{:class => "{% if input.errors %}has-error{% endif %}"}
  .col-xs-4
    - if tooltip
      - inserttooltip tooltip

    - if tooltip_string
      - inserttooltip_string tooltip_string

    - if label
      %label{:for => "{{ input.id_for_label }}", :class =>"{% if bold %}control-label{% endif %}"}
        = label
    - else
      - if bold
        = input|label_with_class:"control-label"
      - else 
        = input.label_tag

    - if required
      %span.note (Required)

  .col-xs-8
    = input|add_class:"form-control"
    .input_errors_list
      - if input.errors
        - for error in input.errors
          .validate-error
            = error|escape
