- load form_group
%header.home
  .container
    %img#headerImg{:src => "/static/images/header.png"}
    .header-title
      Create and plan your course schedule for 
      %span.highlight
        University of Waterloo
    .header-subtitle
      A drag and drop interface for planing your future courses, helps you keep track of pre-requisites and term offered.
    .header-btns.text-center
      %button.btn.btn-primary.btn-lg{:onclick => "facebookConnect()", :type => "button"}
        Login with Facebook
      .header-subtext
        We'll never post to your wall without your permission. If you prefer, you can also 
        %a{:onclick => "$(\"#modalContainer\").load(\"{% url 'registration_register' %}\")"}
          register an email account
        = "."
.schedule-suggest
  .container
    .schedule-header
      Schedules created by others
    
    %a.schedule-showmore{:href => "#"}
      Show more
      %i.fa.fa-chevron-right
    .row
      - for courseplan in sharedCoursePlan
        .col-sm-4.col-md-3
          .schedule
            %i.pe-7s-news-paper.schedule-icon
            .right
              %a.schedule-title{:href => "{% url 'view' courseplan.id %}"}
                = courseplan.name
              .info
                by
                - if courseplan.user.first_name
                  = courseplan.user.first_name
                  = courseplan.user.last_name
                - else
                  = courseplan.user.username