- load form_group
%header.home
  .container
    = form.non_field_errors
    %form{:action => "{% url 'auth_login' %}", :method => "post"}
      - csrf_token
      - form_group form.username
      - form_group form.password
      %input.btn.btn-info{:type => "submit", :value => "Login"}
      %input{:type => "hidden", :value => "{{ next }}", :name => "next"}
    %form{:action => "{% url 'facebook_connect' %}?facebook_login=1", :method => "post"}
        %input{:type => "hidden", :value => "{{ request.path }}", :name => "next"}
        %input{:type => "hidden", :value => "{{ request.path }}", :name => "register_next"}
        %input{:type => "hidden", :value => "{{ request.path }}", :name => "error_next"}
        - csrf_token
        %button.btn.btn-primary{:onclick => "F.connect(this.parentNode); return false;", :type => "button"}
          Login with Facebook
.schedule-suggest
  .container
    .schedule-header
      Schedules created by others
    
    %a.schedule-showmore{:href => "#"}
      Show more
      %i.fa.fa-chevron-right
    .row
      - for courseplan in sharedCoursePlan
        .col-sm-4.col-md-3
          .schedule
            %i.pe-7s-news-paper.schedule-icon
            .right
              %a.schedule-title{:href => "{% url 'view' courseplan.id %}"}
                = courseplan.name
              .info
                by
                - if courseplan.user.first_name
                  = courseplan.user.first_name
                  = courseplan.user.last_name
                - else
                  = courseplan.user.username