- extends "base.haml"
- block css
  %link{:href => "{{STATIC_URL}}css/index.css", :type => "text/css", :rel => "stylesheet"}
  %link{:href => "{{ STATIC_URL }}django_facebook/css/facebook.css", :type => "text/css", :rel => "stylesheet"}


- block body
  #modalContainer
  #main
    .container
      -if user.pk
        %h3.page-header
          Your course schedules
          %a.btn.btn-default{:onclick => "$(\"#modalContainer\").load(\"{% url 'create' %}\")"}
            Create New
        %table.table
          %thead
            %tr
              %th Name
              %th Created
              %th Last Modified
              %th
          %tbody
            - for courseplan in user.courseplan_set.all
              %tr
                %td
                  %a{:href => "{% url 'edit' courseplan.id %}"}
                    = courseplan.name
                %td
                    = courseplan.created
                %td
                    = courseplan.last_modified
                %td
                  %a.btn.btn-danger.btn-sm.pull-right{:onclick => "$(\"#modalContainer\").load(\"{% url 'delete' courseplan.id %}\")"}
                    %i.fa.fa-trash-o.fa-fw

      -else
          = form.non_field_errors
          %form{:action => "{% url 'auth_login' %}", :method => "post"}
            - csrf_token
            = form.username.label_tag
            = form.username
            = form.password.label_tag
            = form.password
            %input{:type => "submit", :value => "login"}
            %input{:type => "hidden", :value => "{{ next }}", :name => "next"}
          %form{:action => "{% url 'facebook_connect' %}?facebook_login=1", :method => "post"}
              %input{:type => "hidden", :value => "{{ request.path }}", :name => "next"}
              %input{:type => "hidden", :value => "{{ request.path }}", :name => "register_next"}
              %input{:type => "hidden", :value => "{{ request.path }}", :name => "error_next"}
              - csrf_token
              %button{:onclick => "F.connect(this.parentNode); return false;", :type => "button"}
                Login with Facebook
      %h3.page-header
        See your collegues' schedules
      - for courseplan in sharedCoursePlan
        %a{:href => "{% url 'view' courseplan.id %}"}
          CoursePlan - 
          -if courseplan.user.first_name
            = courseplan.user.first_name
            = courseplan.user.last_name
          -else
            = courseplan.user.username
