- extends "base.haml"
- block css
  %link{:href => "{{STATIC_URL}}css/index.css", :type => "text/css", :rel => "stylesheet"}


- block body

  -if user.pk
    #main.home-list
      .container
        %h3.page-header
          Your course schedules
          %a.btn.btn-default.pull-right{:onclick => "$(\"#modalContainer\").load(\"{% url 'create' %}\")"}
            Create New
        %table.table
          %thead
            %tr
              %th Name
              %th Created
              %th Last Modified
              %th Course Count
              %th
          %tbody
            - for courseplan in user.courseplan_set.all
              %tr
                %td
                  %a{:href => "{% url 'edit' courseplan.id %}"}
                    = courseplan.name
                %td
                    = courseplan.created
                %td
                    = courseplan.last_modified
                %td
                  .progress
                    .progress-bar.progress-bar-primary.progress-bar-striped.active{:style => "width: {%widthratio courseplan.course_count 1 5%}%; color:#555"}
                      %strong 
                        &nbsp;{{courseplan.course_count}}&nbsp;/&nbsp;20

                %td
                  %a.btn.btn-danger.btn-sm.pull-right{:onclick => "$(\"#modalContainer\").load(\"{% url 'delete' courseplan.id %}\")"}
                    %i.fa.fa-trash-o.fa-fw
  -else
    - include "home.html"
  .schedule-suggest
    .container
      %a.schedule-showmore.pull-right{:href => "#"}
        Show more
        %i.fa.fa-chevron-right

      .schedule-header
        Schedules created by others
      
      .row
        - for courseplan in sharedCoursePlan
          .col-sm-4.col-md-3
            .schedule
              %i.pe-7s-news-paper.schedule-icon
              .right
                %a.schedule-title{:href => "{% url 'view' courseplan.id %}"}
                  = courseplan.name
                .info
                  by
                  - if courseplan.user.first_name
                    = courseplan.user.first_name
                    = courseplan.user.last_name
                  - else
                    = courseplan.user.username
